@import url("reset.css");
@import url("vars.css");
@import url("navbar.css");
@import url("table.css");
@import url("inputs.css");
@import url("utility.css");
@import url("components.css");

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-Variable.woff2") format("woff2");
  font-weight: 400 500 700;
  font-style: normal;
  font-display: swap;
}

/* body {
  background-image: radial-gradient(var(--clr-stone-950) 0.5px, #ffffff 0.5px);
  background-size: 10px 10px;
} */

