label {
  display: block;
  font-size: 14px;
  color: var(--clr-slate-600);
}

input {
  border: 1px solid var(--clr-stone-950);
}

.cursor-pointer {
  cursor: pointer;
}

.focus-visible:focus-visible {
  outline: none;
  border: 1px solid var(--clr-lime-400);
}
/* PRIMARY BUTTON */
.btn-primary {
  background-color: var(--clr-lime-400);
  border: 1px solid var(--clr-lime-400);
  transition: background 0.5ms ease;
}
.btn-primary:hover {
  background-color: var(--clr-lime-500);
}
.btn-primary:disabled {
  background-color: var(--clr-slate-300);
  border: 1px solid var(--clr-slate-300);
  cursor:not-allowed;
}
/* SECONDARY BUTTON */
.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--clr-lime-400);
}

/* ANCHOR -  */
.btn-anchor {
  text-align: center;
  text-decoration: none;
  color: var(--clr-stone-950);
  transition: border 0.5ms ease;
}
.btn-anchor:hover {
  border: 1px solid var(--clr-lime-500);
}

/* ICON BUTTON */
.icon-button,
.icon-button-plain {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.3rem;
  text-decoration: none;

  transition:
    background-color 0.2s ease,
    transform 0.2s ease,
    fill 0.2s ease;
}

.icon-button {
  width: 40px;
  height: 40px;

  color: var(--clr-stone-950);
  background: var(--clr-lime-400);
}

.icon-button:hover {
  background-color: var(--clr-lime-500);
}

.icon-button:active,
.icon-button-plain:active {
  transform: scale(0.96);
}

.icon-button svg {
  width: 25px;
  height: 25px;
}

/* ICON BUTTON - PLAIN */
.icon-button-plain {
  padding: 0;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  fill: var(--clr-slate-400);
}

.icon-button-plain:hover {
  fill: var(--clr-lime-500);
}

/* FORM AS BUTTON */
.form-as-button {
  display: inline-flex;
}

.form-as-button button {
  padding: 0;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  fill: var(--clr-slate-400);
  cursor: pointer;
}

.form-as-button button:hover {
  fill: var(--clr-lime-500);
}
.form-as-button.danger button:hover {
  fill: var( --clr-rose-600);
}
.checkbox {
  width: 20px;
  height: 20px;
  accent-color: var(--clr-lime-400);
  cursor: pointer;
  flex-shrink: 0;
  align-self: center;
}