
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: var(--clr-stone-950);
  margin: 0 auto;
}

table thead {
  border-bottom: 1px solid var(--clr-stone-950);
}

table th {
  text-align: left;
  font-weight: 500;
  padding: 0.5rem 1rem;
  color: var(--clr-slate-600);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

table td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--clr-slate-300);
  text-transform: capitalize;
}

table tbody tr:nth-child(even) {
  background: var(--clr-slate-50);
}

table tbody tr {
  transition: background .3s ease;
}

table tbody tr:hover {
  background: var(--clr-green-50);
}
