:root {
  /* COLORS */
  --clr-stone-950: oklch(14.7% 0.004 49.25);
  --clr-zinc-100: oklch(96.7% 0.001 286.375);
  --clr-lime-400: oklch(85.2% 0.199 91.936);
  --clr-lime-500: oklch(79.5% 0.184 86.047);

  --clr-zinc-600: oklch(44.2% 0.017 285.786);

  --clr-slate-50:oklch(98.4% 0.003 247.858) ;
  --clr-slate-200: oklch(92.9% 0.013 255.508);
  --clr-slate-300: oklch(86.9% 0.022 252.894);
  --clr-slate-400: oklch(70.4% 0.04 256.788);
  --clr-slate-600: oklch(44.6% 0.043 257.281);

  --clr-gray-400: oklch(70.7% 0.022 261.325);

  /* COLORS - DANGER */
  --clr-rose-50: oklch(96.9% 0.015 12.422);
  --clr-rose-300: oklch(81% 0.117 11.638);
  --clr-rose-600: oklch(58.6% 0.253 17.585);

  /* COLORS - SUCCESS */
  --clr-green-50: oklch(98.2% 0.018 155.826);
  --clr-green-300: oklch(87.1% 0.15 154.449);
  --clr-green-600: oklch(62.7% 0.194 149.214);

  /* COLOR - YELLOW */
  --clr-yellow-50: oklch(98.7% 0.026 102.212);
  --clr-yellow-300: oklch(90.5% 0.182 98.111);
  --clr-yellow-600: oklch(68.1% 0.162 75.834);

  /* SIZES */
  --xsm: 0.3rem;
  --sm: 0.5rem;
  --md: 1rem;
  --lg: 1.5rem;
  --xxl: 2rem;
}

