:root {
  --color-primary: oklch(21% 0.006 285.885);
  --color-secondary: oklch(91.499% 0.01683 250.98);
  --color-accent: oklch(84.1% 0.238 128.85);

  --color-accent-hover: oklch(84.1% 0.238 128.85 / 0.8);

  --color-muted: oklch(81.78% 0.04656 257.64);
  --color-muted-bg: oklch(98.4% 0.003 247.858);
  --color-muted-primary: oklch(31.553% 0.01064 285.734);
  --color-muted-border: oklch(85.1% 0.04656 257.64);
}